@model IEnumerable<Bookly.Models.Book>

@{
    ViewData["Title"] = "Index";

    string HasImage(Book book)
    {
        if (book.urlImg != "" && book.urlImg != null)
        {
            return "fa-solid fa-check";
        }
        else
        {
            return "fa-solid fa-x";
 
        }
    }
    
}

<h1>All Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-book"></i> add Book</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datePub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                Has image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.lang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datePub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                <i class="@HasImage(item)"></i>
            
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" ><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
